body {
    background-color: #f0f8ff;
}

button {
    background-color: #1e90ff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #1c86ee;
}

.nav-button {
    display: inline-block;
    margin: 10px;
    text-align: center;
}

.nav-button:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}
